:root {
  --ff: "Inter", sans-serif;
}
/* set the css variable for light and dark theme */
body.light-theme {
  --body-bg: hsla(0, 0%, 100%, 1);
  --heading-text: rgba(0, 0, 0, 1);
  --heading-text-overview: hsla(230, 17%, 14%, 0.7);
  --card-bg: hsl(227, 47%, 96%);
  --card-text-number: rgba(0, 0, 0, 1);
  --theme-toggle-heading: hsla(230, 17%, 14%, 0.7);
  --card-sub-text-heading: hsla(228, 12%, 44%, 1);
  --card-hover-bg: hsla(228, 12%, 44%, 0.2);
  --card-account-heading: hsla(228, 12%, 44%, 1);
  --social-media-sub-heading-text: hsl(228, 34%, 66%);
  --theme-toggle-bg: hsl(230, 22%, 74%);
  --top-bg-pattern: hsla(225, 100%, 98%, 1);
}

body.dark-theme {
  --body-bg: hsla(230, 17%, 14%, 0.9);
  --heading-text: rgba(255, 255, 255, 1);
  --heading-text-overview: rgba(255, 255, 255, 1);
  --card-bg: hsl(228, 28%, 20%);
  --card-text-number: rgba(255, 255, 255, 1);
  --theme-toggle-heading: rgba(255, 255, 255, 1);
  --card-sub-text-heading: hsla(228, 34%, 66%, 1);
  --card-hover-bg: hsla(228, 34%, 66%, 0.2);
  --card-account-heading: hsla(228, 34%, 66%, 1);
  --social-media-sub-heading-text: hsl(228, 12%, 44%);
  --theme-toggle-bg: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --top-bg-pattern: hsla(232, 19%, 15%, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

body {
  font-size: 14px;
  font-weight: 400;
  background: var(--body-bg);
  transition: all 0.4s ease-in-out;
  position: relative;
}

.main-content {
  padding: 30px 0;
}
.container {
  width: 1240px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.social__bg-pattern {
  position: absolute;
  background: var(--top-bg-pattern);
  height: 250px;
  width: 100%;
  top: 0;
  border-bottom-left-radius: 40px;
  z-index: -1;
}

.socail__accounts .section__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading__details h1 {
  font-weight: 700;
  font-family: var(--ff);
  margin-bottom: 4px;
  font-size: 2rem;
  color: var(--heading-text);
}
.heading__details p {
  /* color: hsla(230, 17%, 14%, 0.7); */
  color: var(--social-media-sub-heading-text);
  font-weight: 700;
}

.socail__accounts .theme__switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.theme__switcher .theme_toggle--label {
  cursor: pointer;
  color: var(--theme-toggle-heading);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ff);
}
.toggle_switch {
  width: 90px;
  height: 30px;
  position: relative;
  margin-left: 10px;
}

.outer-btn {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 35px;
  border-radius: 20px;
  background: var(--theme-toggle-bg);
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.inner-btn {
  width: 30px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50px;
  background: var(--body-bg);
  transition: all 0.2s ease-in-out;
}
.outer-btn.active > .inner-btn {
  margin-left: 28px;
}

.social__cards,
.social__likes-cards {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms all;
  transform: background-color;
  position: relative;
}
.card:hover {
  transition: background-color 500ms ease-in;
  background-color: var(--card-hover-bg);
}
.card h2 {
  margin-top: 1rem;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: var(--ff);
  color: var(--card-text-number);
}
.card p {
  color: var(--card-sub-text-heading);
  font-weight: 400;
  letter-spacing: 5px;
  font-family: var(--ff);
  text-transform: uppercase;
}
.card .card__footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card__footer p {
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}
.text-color-lime {
  color: hsla(163, 72%, 41%, 1) !important;
}
.text-color-red {
  color: hsla(356, 69%, 56%, 1) !important;
}

.card .card__footer img {
  margin-right: 10px;
  width: auto;
  height: 100%;
  object-fit: cover;
}
.text-center {
  text-align: center;
}

.social__account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--card-account-heading);
  font-family: var(--ff);
}
.social__account img {
  margin-right: 10px;
}
.social__likes {
  margin-top: 1.5rem;
}
.card--border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 6px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.facebook-topborder::before {
  background-color: hsl(208, 92%, 53%);
}
.twiiter-topborder::before {
  background-color: hsl(203, 89%, 53%);
}
.instagram-topborder::before {
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}
.youtube-topborder::before {
  background-color: hsl(348, 97%, 39%);
}
.social__likes h2 {
  color: var(--heading-text-overview);
  font-size: 2rem;
}

.social-page,
.social-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.social-like p,
.social-page p {
  letter-spacing: 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
  font-family: var(--ff);
}
.social-page p {
  color: var(--card-account-heading);
  /* color: hsla(230, 17%, 14%, 0.7); */
}

.social-like h3 {
  font-size: 2rem;
  color: var(--card-text-number);
}
.social_stats {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_stats img {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

@media only screen and (max-width: 620px) {
  body {
    display: block;
  }
  .container {
    width: 100%;
    margin-top: 20px;
  }
  .socail__accounts .section__details {
    display: block;
  }
  .socail__accounts .theme__switcher {
    margin-top: 10px;
  }
  .heading__details h1,
  .social__likes h2 {
    font-size: 1.6rem;
  }
  .social__cards,
  .social__likes-cards {
    grid-template-columns: 1fr;
  }
}

.attribution {
  margin-top: 30px;
  font-size: 1.2rem;
}
